server:
  port: 8761

spring:
  application:
    name: discovery-service

# Eureka Server Configuration
eureka:
  instance:
    hostname: localhost
  client:
    # Eureka Server should not register itself with another Eureka Server
    register-with-eureka: false
    # Eureka Server should not fetch registry from another Eureka Server
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/

